.form-container{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    gap: 3rem;
    flex-wrap: wrap;
}

.form-container form{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .4);
}