.btn-submit{
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin: 16px 0;
}

.btn-submit:hover{
    background-color: #95FFD4;
}